<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woofer.test">

    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.woofer.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.woofer.activity.MainActivity" />
        <activity android:name="com.woofer.activity.Activity_one" />
        <activity android:name="com.woofer.activity.Activity_three" />
        <activity android:name="com.woofer.activity.Activity_two" />
        <activity android:name="com.woofer.activity.Activity_four" />
        <activity
            android:name="com.woofer.activity.EditNoteActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.woofer.activity.WelcomeActivity">
		<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.woofer.activity.LoginActivity" />
        <activity android:name="com.woofer.activity.SigninActivity" />
        <activity android:name="com.woofer.activity.ChooseActivity" />
        <activity android:name="com.woofer.activity.UserInfoActivity" />
        <activity android:name="com.woofer.activity.ConfigActivity" />
        <activity android:name="com.woofer.activity.AboutusActivity" />
        <activity android:name="com.woofer.activity.PersonHomeActivity" />
        <activity android:name="com.woofer.activity.SignatureActivity" />
        <activity android:name="com.woofer.activity.InformActivity" />
        <activity android:name="com.woofer.activity.PrivateLetterActivity" />
        <activity android:name="com.woofer.activity.StorydegitalActivity" />
        <activity android:name="com.woofer.activity.OtherUserHomePage" />
        <activity android:name="com.woofer.activity.userhomepage.FansActivity" />
        <activity android:name="com.woofer.activity.userhomepage.FollowingsActivity" />
        <activity android:name="com.woofer.activity.userhomepage.ArticleActivity" />
        <activity android:name="com.woofer.activity.ConversationActivity" />
        <activity android:name="com.woofer.activity.CommentActivity"
            android:windowSoftInputMode="adjustResize"
            ></activity>
    </application>

</manifest>
